<%= render template: 'partials/nav' %>

<h1><%=@workout['workout_type']%></h1>

<!-- <div class="your-clock"></div> -->

<%weights = @workout['weight'].split(',')%>
<div class="container">
 <div class="well text-center">
  <% for i in 0...@workout['set_amount'] do %>
   <div class="well clickable">
	<h4> Set: <%=i+1%> <%=@workout['name']%> <%=weights[i]%>lbs  </h4>
   </div>
  <% end %>
 </div>
</div>

<script>
$(document).ready(function(){	

var toggle = true;


$(".clickable").click(function(){
	var stopping = true;

	swal({title: "<div class=\"your-clock\"></div>",html: true});
	var clock = new FlipClock($('.your-clock'), {
	autoStart: true,
	clockFace: 'MinuteCounter'
	});
	// clock.start(function() {
	// 	console.log("Started")
	// });

$(".confirm").click(function(){
	clock.stop(function() {console.log("total time: " + (parseInt(clock.time.time)-1).toString() )});
	stopping = false;
});

});


});
</script>