<%= render template: 'partials/nav' %>

<h1><%=@workout['workout_type']%></h1>

<!-- <div class="your-clock"></div> -->

<%weights = @sets%>
<div class="container">
 <div class="well text-center">
  <% for i in 0...@sets.length do %>
   <div class="well clickable">
	<h4> Set: <%=i+1%> <%=@workout['name']%> <%=weights[i].weight%>lbs  </h4>
   </div>
  <% end %>
 </div>
</div>

<script>
$(document).ready(function(){	

var toggle = true;
var times = [];
var storeTime = function(time){
	times.push(time);
	console.log("TIME: ", times);
}

$(".clickable").click(function(){
	var stopping = true;
	$(this).prop('disabled', true);
	swal({title: "<div class=\"your-clock\"></div>",
		  html: true,
		  allowEscapeKey: false, 
		  allowOutsideClick: false, 
		  animation: 'slide-from-top',
		  showConfirmButton: true,
		  confirmButtonText: "Done resting"
		  }, function(){
		  	clock.stop( function() {
		  		storeTime(parseInt(clock.time.time-1));
		  		allDone();
		  	});
		  });

	var clock = new FlipClock($('.your-clock'), {
	autoStart: true,
	clockFace: 'MinuteCounter'
	});
	$(this).css('background', 'red');
	$(this).hide();
});

var allDone = function(){
	if($('.clickable').length == times.length){
		
		$.post(
		  window.location.href,
		  {'times' : times}

		 ).done(function() {
		 	window.open('../workout/all', '_self');
		});
	}
}

});
</script>