<%= render template: 'partials/nav' %>

<h1>Workout#stats</h1>
<p>Find me in app/views/workout/stats.html.erb</p>
<% total_workouts = Hash.new(0) %>
<% weights = [] %>
<%a=[0.001, 1, 60, 3600] %>

<% times = Hash.new(0) %>
<% lengths = [] %>
<% average = []%>
<% for i in 0...@stats.length do times[i] = 0 end%>


<% @stats.each_with_index do |w, i| %>
  <% lengths << w.length%>
  <% w.each_with_index do |t, o| %>
   <% times[i] += t.avg_time.utc.strftime("%T.%L")
   				.split(/[:\.]/)
   				.map{|time| time.to_i*a.pop}
   				.inject(&:+)%>
	<% a=[0.001, 1, 60, 3600] %>
  
  <% end %>
<% end %>

<% times.each_with_index do |time, i| %>
<% average << (time[1] / lengths[i]).round(2) %>
<% end %>


<% @stats.each_with_index do |w, i| %>
<%= w[0].workout.workout_type %> <%=w[0].workout.name%><br><%= w.length %> times<br>average rest time: <%= average[i]%>

<br><hr>

<% end %>

